:root {
    --primary-color: rgb(242, 237, 141);
    --secondary-color: rgb(214, 214, 212);
    --tertiary-color:  rgb(214, 214, 212, .6);
    --button-back: rgb(36, 192, 227);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: var(--primary-color);
}

/* Nav bar */
nav {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 0 1rem;
    background-color: var(--secondary-color);
    height: 4rem;
}

.nav-buttons {
    padding: .25rem .75rem;
    font-weight: 600;
    background-color: var(--button-back);
    border-radius: 3rem;
}

.nav-buttons:hover {
    transform: scale(1.1);
}

/* Initial page */
.main-page-img {
    height: 22rem;
    width: 20rem;
    margin: 1rem 0;
}

.headline {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.about {
    margin: 0 10rem;
    background-color: var(--tertiary-color);
    padding: 1rem;
    text-align: center;
}

/* Menu */
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--tertiary-color);
    margin: 1rem 0;
    padding: 2rem;
}

.items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-items-container {
    margin-bottom: 1.5rem;
}

.menu-header {
    font-size: 3rem;
    font-weight: 700;
    margin: 1rem 0;
}

.items-header {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
    margin-bottom: .75rem;
}

.item-name {
    font-size: 1.25rem;
    font-weight: 300;
}

.item-price {
    font-weight: 800;
}

/* Contact Page */
.contact-header {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    background-color: rgba(171, 171, 171, 0.25);
    border: 1px solid black;
    padding: 1rem;
}

.social-media-cont {
    display: flex;
    gap: .33rem;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}