* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 1rem 0;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-page-img {
    height: 22rem;
    width: 20rem;
    margin: 1rem 0;
}

.headline {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.about {
    margin: 0 10rem;
}
